<!DOCTYPE html>
<html xmlns:th="https:/www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>
<!--/* ~{파일경로 :: fragment이름} */-->
<!-- 파일경로(ViewResolver) -->
<th:block th:replace="~{common/configs/style_config :: Bootstrap5Config}"></th:block>
</head>
<body>
	<!-- Header -->
	<header th:insert="~{common/fragments/default_header :: HeaderFrag}"></header>
	<!-- Content Page : 동적인 페이지 -->
	<main>
		<div layout:fragment="content"></div>
	</main>
</body>
</html>