<!DOCTYPE html>
<html xmlns:th="https:/www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/main_layout}"
	  layout:fragment="content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="container text-center">
		<h3>게시글 정보</h3>
		<table class="table table-bordered">
			<tr>
				<th>번호</th>
				<td>[[ ${board.bno} ]]</td>
			</tr>
			<tr>
				<th>제목</th>
				<td>[[ ${board.title} ]]</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>[[ ${board.writer} ]]</td>
			</tr>
			<tr>
				<th>내용</th>
				<td>[[ ${board.contents} ]]</td>
			</tr>
			<tr>
				<th>첨부파일</th>
				<!-- <td>[[ ${board.image} ]]</td> -->
				<!-- /images/cat.jpg -->
				<td><img style="width:20%;" th:src='@{/images/{file}(file=${board.image})}'></td>
			</tr>
			<tr>
				<th>작성일자</th>
				<td>[[ ${#dates.format(board.regdate, 'yyyy/MM/dd')} ]]</td>
			</tr>
		</table>
		<button type="button" class="btn btn-info">수정</button>
		<button type="button" class="btn btn-warning" th:onclick="|location.href='@{/boardList}'|">목록</button>
		<button type="button" class="btn btn-danger">삭제</button>
	</div>
</body>
</html>