<!DOCTYPE html>
<html xmlns:th="https:/www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/main_layout}"
	layout:fragment="content">
<!--/* 각 기능별 페이지에 layout 적용 */-->
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<!-- boards -->
	<div class="container text-center">
		<h3>게시판 목록</h3>
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th> <!-- yyyy년MM월dd일 -->
				</tr>
			</thead>
			<tbody>
				<th:block th:each="post : ${boards}">
					<!-- post(BoardVO) => <tr/> -->
					<!-- /boardInfo?bno=1 -->
					<tr th:id="${post.bno}" th:onclick="|location.href='@{/boardInfo(bno=${post.bno})}'|">
						<td>[[ ${post.bno} ]]</td>
						<td>[[ ${post.title} ]]</td>
						<td>[[ ${post.writer} ]]</td>
						<td>[[ ${#dates.format(post.regdate, "yyyy년MM월dd일")} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>