<!DOCTYPE html>
<html xmlns:th="https:/www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content"
	  >
<head>
<meta charset="UTF-8">
<title></title>

</head>
<body>
	<div class="container text-center">
		<form name="insertForm" th:action="@{/bookInsert}" method="post">
			<h3>도서 등록</h3>
			<table class="table table-bordered">
				<tr>
					<th>도서번호</th>
					<td><input type="text" name="bookNo"></td>
				</tr>
				<tr>
					<th>도서명</th>
					<td><input type="text" name="bookName"></td>
				</tr>
				<tr>
					<th>도서표지</th>
					<td><input type="text" name="bookCoverimg"></td>
				</tr>
				<tr>
					<th>출판일자</th>
					<td><input type="text" name="bookDate"></td>
				</tr>
				<tr>
					<th>금액</th>
					<td><input type="text" name="bookPrice"></td>
				</tr>
				<tr>
					<th>출판사</th>
					<td><input type="text" name="bookPublisher"></td>
				</tr>
				<tr>
					<th>도서소개</th>
					<td><input type="text" name="bookInfo"></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-dark" th:onclick="|location.href='@{/bookList}'|">등록</button>
			<button type="button" class="btn btn-dark" th:onclick="|location.href='@{/bookList}'|">조회</button>
		</form>
	</div>
	
	<script>
	insertForm.addEventListener('submit', function(event){
			event.preventDefault();
			
			let bookNameInput = document.querySelector('form [name="bookName"]');
			if(bookNameInput.value == ''){
				alert('도서명이 입력되지 않았습니다');
				bookNameInput.focus();
				return;
			}
			
			alert('도서등록이 완료 되었습니다.');
			insertForm.submit();
		});
	</script>
</body>
</html>